.Rproj.user
.Rhistory
*~
*.zip
.ipynb_checkpoints


week*/work/**/*.csv
week*/work/**/*.RData
week*/work/**/*.rdata
week*/work/**/*.tsv
week*/work/**/*.dat
*.pdf
notes/**/*.csv
notes/**/*.RData

temp_*